<header class="site-header" role="banner">
	<div class="site-header__container">
		<h1 class="site-logo"><a href="/"><span class="logo-emphasise">Vita</span>Style</a></h1>
		{% include "navigation.njk" %}
	</div>
</header>
