<nav class="nav nav--primary" role="navigation" tabindex="-1">
  <button class="nav__toggle" aria-label="Toggle navigation">
    <span class="nav__toggle-icon"></span>
  </button>

  <ul class="nav__menu">
    <li class="nav__menu-item"><a href="#">About</a></li>
    <li class="nav__menu-item"><a href="#">Distributors</a></li>
    <li class="nav__menu-item"><a href="#">Contact</a></li>

    <li class="nav__menu-divider"></li>

    <li class="nav__menu-item">
      <a href="tel:01638664988" itemscope itemtype="http://schema.org/telephoneNumber">
        <span class="nav__icon-phone"></span> 01638664988
      </a>
    </li>
    <li class="nav__menu-item"><a href="#"><span class="nav__icon-apply"></span> Apply</a></li>
    <li class="nav__menu-item"><a href="#"><span class="nav__icon-sign-in"></span> Sign In</a></li>
  </ul>
</nav>