---
layout: base
eleventyNavigation:
  key: Home
  order: 1
---

<div class="container">

    <section class="hero">
			<div class="hero-text">
				<h1 class="hero-headline">Find the perfect flooring for your next project.</h1>
				<p class="subtitle">Hardwood Flooring and Wall Decor Trade Specialists</p>
				<p><a href="#">Apply for your trade account</a></p>
			</div>
		</section>
    <section class="feature-section ">
			<div class="feature-column">
				<img src="https://via.placeholder.com/350x250" alt="Featured Image 1" width="350" height="250">
				<h2 class="feature--title">Hardwood flooring</h2>
				<p>Oak flooring in bold shades, playful patterns, and sizes for every vision. Elevate your projects with unparalleled craftsmanship.</p>
			</div>
			<div class="feature-column">
				<img src="https://via.placeholder.com/350x250" alt="Featured Image 2" width="350" height="250">
				<h2 class="feature--title">Waterproof flooring</h2>
				<p>XL planks, rigid core, and organic beauty. Conquer spills, steam, and design limitations with our revolutionary flooring.</p>
			</div>
			<div class="feature-column">
				<img src="https://via.placeholder.com/350x250" alt="Featured Image 3" width="350" height="250">
				<h2 class="feature--title">Acoustic Wallpanels</h2>
				<p>Scandi design meets next-level acoustics. Wall panels in captivating shades, endless specifications, and silence redefined.</p>
			</div>
		</section>
</div>
